.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-search-container{
    position: absolute;
    top: 50px;
}

.search-bar{
    margin: 10px;
}

.graph{
    margin: 10px;
}
